.container {
    width: 90vw;
    /* border: 1px solid red; */
    margin: 0 auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.imgslide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid #000; */
    padding: 10px 0px;
    margin: 10px 0px;
    flex: 0.9;
    transition: 0.9s ease all;
    cursor: pointer;
    width: 100%;
}

.imgslide h3 {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.imgslide.active {
    flex: 4;
    transition: 0.9s ease all;
}